.app-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

                        /*  TODO: transform to GRID*/
}
.page {
  display: flex;
  justify-content: space-between;
}
.app-wrapper-content {
  background-color: cornflowerblue;
  width: 85%;
  margin: 10px 0 5px 5px;
}

